In [4]:
import cv2 as cv

import pandas as pd

In [4]:

print(pd)

<module 'pandas' from 'C:\\Users\\sjuga\\AppData\\Roaming\\Python\\Python312\\site-packages\\pandas\\__init__.py'>

In [26]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
myvar # show butful
# df.to_csv("myvar") ----<><>< dataFrame convert to Csv file
# print(myvar)
# print(myvar.loc[0])
# #use a list of indexes:
# print(myvar.loc[[0, 1]])


##################################  Create A dataFRam and Then Convert To CSV File ++++++++++++++++++++++

mydataset = {
    'name': ["jugal", "karan", "kanika", "anku", "nikhil"],
    'rollno': [14, 54, 30, 20, 10],
    'class': ["10th", "12th", "13th", "12th", "10th"],
    'age': [20, 25, 27, 28, 21],
    'gender': ["male", "male", "female", "male", "lgbtq"],
    'subject':["computer","army","design","army","rider"]
}
df = pd.DataFrame(mydataset)
df.to_csv("school.csv")

# and Then Read File CSV
df = pd.read_csv('school.csv')
df

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [21]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df) 
print(df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64

In [16]:

df = pd.read_csv('earth.csv')
# print(df.reset_index(drop=True).head())
# df.tail(10) # down show
# df.head(10) #upp show
#print(df , header=None) show column in the index number-
##print(df , names=["jugal" , "karan", "naku"]) chnage your column name
#one_without_null_columns = one.dropna(axis=1) #remove your cloumns
#print(df, skiprow=[1,2,3])
#df.describe() #mean count std
# print(df.to_string(index=False))
# print(df.info()) 
# print(df.to_string()) 
# print(df[["Year"]])
# df["Year"][0:6]] --> 0 yo 6 
#df[["",""]] # multiple show colums 
#type(pdf)
#df["Year"][0]=147 >> means is change year 
#df.index=['first' , 'second' , third ] # mean is change your index
# print(df.iloc[0])
#df.columns  --> check columns name
# print(df.dtypes) -->check types of data frame
#print(df.loc[:,"" , ""]).value # value meaing is  remove columns
#print(df.loc[0:3,"" , ""]).value
#df.iloc[:,0:5] # you do no columne then you use iloc
#df[df["Year"]>1974] # show only graten then
#df["Year"].unique() # check unique values
#df["Gnder"].value_counts #meaning is number of male and female
#df.corr --> meaning is multiple data compare 
#df.info()
#df1=df.dtypes[df.dtypes=="int64"].index #only show dataType int64

#df.groupny("sex").desribe() # check pernctage male and female



###########################  Data Clean Your Imporant -------------------------------

In [67]:
one = pd.read_csv('null - school.csv')
#but=one.isnull().sum() #  check how many null values 
#kal=one.dropna(inplace=True,axis=1) # check Nan columns and then remove Columns
#na=one.fillna(22) // add Nan value 
#one_without_null_columns = one.dropna(axis=1) remove Your columns


# remove float Number --------------------------------------------------------<><><><><><><>

# one['age'] = one['age'].astype(int)

one['age'] = one['age'].fillna(0).astype(int)
# Display the DataFrame
print(one)

   Unnamed: 0    name rollno class  age gender   subject
0         NaN   jugal     14  10th   20   male  computer
1         NaN   karan   Null  12th   25   male      army
2         NaN  kanika     30  13th   27    Nun    design
3         NaN    anku     20  12th    0   male      army
4         NaN  nikhil     10  10th   21  lgbtq     rider

In [59]:
# Sample DataFrame
data = {'float_column': [20.0, 30.5, 40.8]}
df = pd.DataFrame(data)

# Round float numbers to remove decimal part
df['float_column'] = df['float_column'].round()

# Convert to integer type
df['float_column'] = df['float_column'].astype(int)

# Display the DataFrame
print(df)

   float_column
0            20
1            30
2            41